In [ ]:
q1.Try to print a prime number in between 1 to 1000

In [63]:
for i in range(1,1001):
    flag=0
    for j in range (2,i):
        if i%j==0:
            flag=1
            break
    if flag==0:
        print(i,end=" ")

1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [ ]:
 q4 : Try to write a lambda function which can return a concatination of all the string that we will pass

In [ ]:
l= lambda a,b,c,d:a+' '+b+' '+c+' '+d

In [64]:
l('pallavi','tewari','is','good')

'pallavi tewari is good'

In [ ]:
q5 : Try to write a lambda function which can return list of square of all the data between 1-100

In [65]:
x=lambda *m: [i*i for i in range(1,101)]

In [66]:
x()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [ ]:
q6 : Try to write a 10 Different different example of lambda function with a choice of your taks

In [82]:
x=lambda a:a*a

In [83]:
x(16)

256

In [84]:
q=lambda z:print(z)

In [85]:
q("pallavi")

pallavi

In [86]:
q=lambda:print("hello")

In [87]:
q()

hello

In [88]:
z=lambda x:input("enter a number")

In [90]:
z(12)

enter a number1234

'1234'

In [92]:
tens=lambda x:int(x/10)%10

In [93]:
get_tens(986)

8

In [96]:
z=lambda y:True if y.startswith('P') else False

In [97]:
z("pallavi")

False

In [108]:
q=lambda y,x:[y.split().index(x)-1]

In [109]:
q('four more runs to win','win')

[3]

In [117]:
q=lambda *a:[j for j in a]

In [118]:
q(2,3,4,5,3,4)

[2, 3, 4, 5, 3, 4]

In [122]:
q=lambda y,x:(y.split().index(x))

In [123]:
q('Batsman hits the ball to the Boundry','hits')

1

In [128]:
q=lambda x,y:True if x>y else False

In [129]:
q(7,9)

False